:root {
  --standard-blue: #0079ff;
  --standard-blue-fade: #60abff;
  --white: #fff;

  /* Light Mode Colors */
  --light-bg: #f6f8ff;
  --light-color: #4b6a9b;
  --light-dark-text: #222731;
  --light-med-dark-text: #2b3442;
  --light-gray: #697c9a;
  --light-off-white: #fefefe;

  /* Dark Mode Colors */
  --dark-bg: #141d2f;
  --dark-blue: #1e2a47;
}

/* HTML TAG STYLES */

* {
  box-sizing: border-box;
}

body {
  font-family: "Space Mono", "Courier New", Courier, monospace;
  padding: 1.5em;
  margin: 0;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

h1 {
  font-size: 1.625rem; /* 26px */
  line-height: 38px;
}

h2 {
  font-size: 1rem; /* 16px */
  line-height: 33px;
}

h3 {
  font-size: 0.8125rem; /* 13px */
  line-height: 24px;
}

h4 {
  font-size: 0.8125rem; /* 13px */
  line-height: 20px;
  font-weight: normal;
}

p {
  font-size: 0.8125rem; /* 13px */
  line-height: 25px;
}

button {
  user-select: none;
  border: none;
  border-radius: 0.625em;
  background-color: var(--standard-blue);
  color: var(--white);
  font-size: 0.875rem;
  font-weight: bold;
  padding: 0.78125em 1em;
}

button:hover {
  background-color: var(--standard-blue-fade);
}

/* THEME SPECIFIC STYLES */

.dark-theme {
  color: var(--white);
}

.dark-theme .user-search-bar--input,
.dark-theme .user-card {
  background-color: var(--dark-blue);
}

.dark-theme .user-card--contact-icon {
  filter: brightness(0) invert(1);
}

.light-theme {
  color: var(--light-color);
}

.light-theme .header--title {
  color: var(--light-dark-text);
}

.light-theme .user-search-bar--input {
  box-shadow: 0px 16px 30px -10px hsla(227, 46%, 50%, 0.2);
}

.light-theme .user-search-bar--input,
.light-theme .user-card {
  background-color: var(--light-off-white);
}

.light-theme .user-card--stats {
  background-color: var(--light-bg);
}

.light-theme .user-card--title,
.light-theme .user-stat-number {
  color: var(--light-med-dark-text);
}

/* CUSTOM CLASS STYLES */

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header,
main {
  max-width: 350px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 2.25em;
}

.header--title {
  cursor: pointer;
  margin: 0;
}

.header--theme-toggler {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8125rem;
  font-weight: bold;
  letter-spacing: 2.5px;
  cursor: pointer;
  user-select: none;
}

.header--theme-toggler span {
  margin-right: 1em;
}

.user-search-bar {
  position: relative;
  width: 100%;
}

.user-search-bar--input {
  border: none;
  border-radius: 0.9375em;
  color: inherit;
  width: 100%;
  font-family: inherit;
  font-size: 0.8125rem; /* 13px */
  line-height: 25px;
  padding: 18px 0;
  padding-left: 45px;
  padding-right: 98px;
}

.user-search-bar--icon {
  position: absolute;
  max-width: 20.5px;
  margin: 20px 16px 20px;
}

.user-search-bar--button {
  position: absolute;
  top: 0;
  right: 0;
  line-height: 25px;
  letter-spacing: 1px;
  margin: 7px;
}

.user-search-bar--no-results {
  position: absolute;
  top: 0;
  right: 0;
  color: red;
  font-weight: bold;
  width: 92px;
  margin: 18px 106px;
}

.user-card {
  border-radius: 0.9375em;
  background-color: var(--dark-blue);
  box-shadow: 0px 4px 4px 0px hsla(0, 0%, 0%, 0.251);
  margin-top: 1em;
  padding: 2em 1.5em 3em;
}

.user-card--user {
  display: flex;
}

.user-card--user-avatar {
  border-radius: 50%;
  max-width: 70px;
}

.user-card--user-avatar-wrapper {
  margin-right: 1.25em;
}

.user-info--username {
  color: var(--standard-blue);
  font-weight: normal;
  margin-bottom: 0.375em;
}

.user-card--bio p {
  margin: 2em 0 1.375em;
}

.user-card--stats {
  display: flex;
  justify-content: space-around;
  background-color: var(--dark-bg);
  border-radius: 0.625em;
  text-align: center;
  margin-bottom: 1.5em;
  padding: 1.125em 1em;
}

.user-stat-title {
  font-size: 0.6875rem;
}

.user-stat-number {
  font-size: 1rem;
  font-weight: bold;
}

.user-card--contact {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.unavailable {
  opacity: 0.25;
}

.user-card--contact-item {
  display: flex;
}

.user-card--contact-item:not(:last-child) {
  margin-bottom: 1em;
}

.user-card--contact-icon-wrapper {
  min-width: 2em;
}

/* MEDIA QUERIES */

/* COLOR SCHEME QUERIES */

@media (prefers-color-scheme: dark) {
  body,
  .dark-theme {
    background: var(--dark-bg);
    color: var(--white);
  }
}

@media (prefers-color-scheme: light) {
  body,
  .light-theme {
    background: var(--light-bg);
    color: var(--light-color);
  }
}

/* SCREEN QUERIES */
/* TODO: Screen queries to go here */
